.mainContent {
    grid-area: main;
    position: relative;
}
.users {
    grid-area: users;
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 17px;
}

.user {
    display: grid;
    grid-template-areas: "avatar info";
    grid-template-columns: 2fr 10fr;
    background-color: #fff;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    border-radius: 10px;
    position: relative;
}

.avatarBlock {
    grid-area: avatar;
    align-self: center;
}

.btn {
    display: inline-block;
    height: 26px;
    width: 76px;
    line-height: 20px;
    background-color: #2bae53;
    color: #fff;
    border-radius: 4px;
    border: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

.btn.unfollow {
    background-color: gray;
}

.showMoreBtn {
    display: grid;
    padding: 11px 20px 11px;
    background-color: #111f2e;
    color: #fff;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    grid-area: showmorebtn;
    position: relative;
    right: 8px;
    cursor: pointer;
    transition: all .25s;
}
.showMoreBtn:hover {
    background-color: #0a4345;
}

.userInfo {
    grid-area: info;
    display: flex;
    justify-content: space-between;
    padding-top: 5px
}

.location {
    text-align: right;
}

.name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4px
}

.activity {
    font-size: 16px;
    line-height: 26px;
}

.avatarBlock img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: block;
    object-fit: cover;
}
