
.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 25px 0;
}
.navbar a {
    color: #b5beb5;
    text-decoration: none;
    display: block;
    line-height: 1;
    padding: 12px 35px 12px 20px;
    transition: all .3s;
}
.navbar a.active {
    background-color: #0a4345;
    color: #fff;
}