.header {
    display: grid;
    grid-area: header;
    background: #111f2e;
    padding: 0 10px;
    align-items: center;
    grid-template-columns: 11fr 1fr;
}
.header img {
    display: block;
    width: auto;
    max-height: 80%;
    margin-left: 1%;
}