.app-wrapper {
  display: grid;
  grid-template-rows: 75px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "header header header"
                        "sidebar main-content main-content";

}

.header { grid-area: header; background: #333333; padding: 0 10px;}
.header img {
  max-width: 75px;
  margin-left: 5px;
}
.sidebar { grid-area: sidebar }
.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 25px 0;
}
.sidebar {
  background-color: antiquewhite;
}
.sidebar a {
  color: #333333;
  text-decoration: none;
  display: block;
  padding: 4px 25px;

}
.main-content { grid-area: main-content; }
.main-content img {
  max-height: 300px;
  width: 100%;
  object-fit: cover;

}