* {
    box-sizing: border-box;
}
.app-wrapper {
  display: grid;
  grid-template-rows: 10vh 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "header header header"
                        "sidebar main main";
background-color:#f1f1f1;
    grid-column-gap: 20px;
}